beautifulsoup4==4.15.0
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
numpy==2.4.6
pandas==3.0.3
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.15.0
urllib3==2.7.0
